<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>chat</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/layui/css/layui.mobile.css" media="all">
    <link href="/static/layui/css/modules/layer/default/layer.css" rel="stylesheet">
    <link href="/static/admin/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="/static/admin/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="/static/admin/css/animate.min.css" rel="stylesheet">
    <link href="/static/admin/css/style.min.css?v=4.1.0" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/static/layui/css/modules/layim/mobile/layim.css?v=2.10" media="all">
</head>
<body style="">
<script src="/static/admin/js/jquery.min.js"></script>
<script src="/static/layui/layui.js"></script>
<script src="/static/layui/lay/modules/layer.js?v=3.1.1"></script>

<div class="layim-title" style="background-color: #36373C;">
    <p><i class="layui-icon layim-chat-back" style="padding: 0px 15px" onclick="window.history.back()">&#xe603;</i> 收到的好友申请<span class="layim-chat-status"></span></p>
</div>
<div class="layui-unselect layim-content">
    <table class="layui-table" lay-skin="line" style="margin: 0px">
        <thead>
            <tr>
                <th >用户名</th>
                <th >申请时间</th>
                <th style="text-align: center">操作</th>
            </tr>
        </thead>
        <tbody>
            {foreach name='list' item='vo' key='kkk'}
            <tr>
                <td >{$vo.request_user_name}</td>
                <td >{$vo.create_time|date="Y-m-d",###}</td>
                <td style="text-align: center">
                    <div class="">
                        <button class="layui-btn layui-btn-sm" onclick="agree({$vo.id},1)">同意</button>
                        <button class="layui-btn layui-btn-sm layui-btn-danger" style="margin-left: 10px" onclick="agree({$vo.id},0)">拒绝</button>
                    </div>
                </td>
            </tr>
            {/foreach}
        </tbody>
    </table>
</div>



<script>
    function agree(id,bool){
        $('.layui-btn').removeAttr("onclick");
        $.post("/index/friend/agree",
            {
                id:id,
                reply:bool
            },
            function(data){
                layer.msg(data.msg);
                window.setTimeout(function (){history.go(0)},2000);
            });
    }
</script>
</body>
</html>